:root[data-theme='light'] {
	--hue: 210;
	--sat: 100%;
	--title-color: hsl(var(--hue) var(--sat) 20%);
	--title-color-dark: hsl(var(--hue) var(--sat) 0%);
	--text-color: hsl(var(--hue) var(--sat) 46%);
	--body-color: hsl(var(--hue) var(--sat) 98%);
	--container-color: #fff;
}
